.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(225, 209, 179);
 }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }